* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
}
.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #202668;
    padding: 8px 16px;
    z-index: 1;
}
.main-header > div {
    display: inline-block;
    vertical-align: middle;
}
.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}
.main-lists{
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 0.8rem;
    padding: 0.3rem;
}
.main-list{
    display: inline-block;
    padding: 0.3rem;
}
.main-list a{
    text-decoration: none;
    color:white;
    font-size: 1.2rem;
}
.icon{
    color: white;
    margin-right: 5rem;
    font-size: 2rem;
    
}
.main-list a:hover{
    opacity: 85%;
    background-color: rgb(23, 23, 23);
    font-size:1.5 rem ;
    color: rgb(245, 216, 145);
}
.back-img{
    
    width: 100%;
    height: 500px;
    margin-top: 50px;
    
    /* border: 5px dashed red; */
    position: relative;  
}
span{
    color: rgb(24, 172, 209);
    font-size: 2.5rem;
}
.footer-nav{
    width: 100%;
    position: fixed;
    
    background: #202668;
    padding: 8px 16px;
    /* z-index: 1; */
}
.footer-lists{
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 0.3rem;
    padding: 0.1rem;
}
.footer-lists li{
    color: white;
    padding-right: 30px;
}
.plans{
    text-align: center;
    margin-top: 170px;
}
.section-title {
    color: rgb(24, 172, 209);
    text-align: center;
}

.plan__list {
   
    display: flex;
    justify-content:center;
    width: 80%;
    margin: auto;
    text-align: center;
}
.plan{
    font-size: 1.2rem;
    padding: 2rem;
    width:30%;
    margin: 15px;
    background-color: #e3e3e3;
    vertical-align: middle;
}
.plan-u{
    list-style: circle;
   
}
.plan-us{
    padding-bottom: 12px;
}

